# Compilation results
build/
*.o
*.obj
*.bin
*.elf
*.EFI
*.img
*.map

# Compiled libraries and (cross)-compilers
toolchain*

# Runtime output
bx_enh_dbg.ini

# VSCode
.vscode/settings.json

# macOS
.DS_Store
